---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <div class="title">
      <span class="first-title">Advertisement</span>
      <div class="container-second">
        <span class="second-title">
          Try This Easy Evening Trick for Prostate Comfort
        </span>
      </div>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
  }
  .title {
    margin-top: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .first-title {
    margin: 0;
    font-size: 0.7em;
  }
  .container-second {
    max-width: 780px; /* ajuste até ficar na altura que você quer */
    margin: 0 auto; /* centraliza */
  }

  .second-title {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.05; /* ajuste fino entre as linhas */
  }
</style>
